body{
    color: $primary-color;
    font-family: $font-family-sans-serif;

    a:hover{
        text-decoration: none;
    }
}

.main-wrapper{
    z-index: 100;
    position: relative;
    background: #241210;
    padding: 4rem 0;

    .main-content{
        position: relative;
        z-index: 102;

        p{
            color: $primary-color;
            font-size: 2rem;
            font-weight: 100;
            margin-bottom: 2rem;
        }
    }
}

.social{
    position: fixed;
    bottom: 3rem;
    right: 4rem;
    margin: 0 auto;
    z-index: 120;

    a > i{
        padding: 1rem;
        color: $primary-color-dark;
        font-size: 1.8rem;
        -webkit-transition: color 0.25s;
        -moz-transition: color 0.25s;
        -ms-transition: color 0.25s;
        -o-transition: color 0.25s;
        transition: color 0.25s;

        &:hover{
            color: $primary-color;
        }
    }

    h5{
        letter-spacing: 0.5rem;
        color: $primary-color-dark;
        font-family: $font-family-sans-serif;
    }
}

@media (max-width: 991px) {
    .social{
        position: relative;
        margin: 3rem auto;
        z-index: 120;
        bottom: auto;
        right: auto;
    }
}