.parallax-layer {
    height: 100vh;
    background-size: cover;
    background: no-repeat bottom center;
    width: 100%;
    position: absolute;

    &.parallax{
        width: 100%;
        position: fixed;
    }

    &#tease-1{
        background: #100D06 url('../img/bg.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &#tease-2{
        background: url('../img/link-parallax.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #layer-0{
        background-image: url('../img/parallax-00.png');
    }

    #layer-1{
        background-image: url('../img/parallax-01.png');
    }

    #layer-2{
        background-image: url('../img/parallax-02.png');
    }

    #layer-3{
        background-image: url('../img/parallax-03.png');
    }

    #layer-4{
        background-image: url('../img/parallax-04.png');
    }

    #layer-5{
        background-image: url('../img/parallax-05.png');
    }

    #layer-6{
        background-image: url('../img/parallax-06.png');
    }

    #layer-7{
        background-image: url('../img/parallax-07.png');
    }

    #layer-8{
        background-image: url('../img/parallax-08.png');
    }
}